{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container-fluid not-visible">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <strong>UPLOAD MOVIE</strong>
            </div>
            <div class="card-body">
                <form action="{% url 'uploads_movie' %}" method="POST" enctype="multipart/form-data" id="uploadForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success" id="upload">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL LOADING-->
<div id="loadingModal" class="modal fade" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <button type="button" class="btn-close not-visible" data-bs-dismiss="modal" aria-label="Close" style="font-size: 0.8rem;"></button>
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content" style="min-width: 75%;">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <dotlottie-player
          src="https://lottie.host/d859929a-817c-4306-8d51-8d518b112a1c/gVikKXqV6T.lottie"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px"
          loop
          autoplay
          id="lottie"
        ></dotlottie-player>
        <dotlottie-player
          src="https://lottie.host/8c087258-45c8-448b-bc08-d727d9000ac4/nCO8O2GnSi.lottie"
          background="transparent"
          class="d-none"
          id="lottie2"
          speed="1"
          style="width: 300px; height: 300px"
          loop
          autoplay
        ></dotlottie-player>
        <dotlottie-player
          src="https://lottie.host/563306b5-cec7-4e89-854f-338c6ac6f459/CCrvyizJ3A.lottie"
          background="transparent"
          class="d-none"
          id="lottie3"
          speed="1"
          style="width: 300px; height: 300px;"
          loop
          autoplay
        ></dotlottie-player>
        <div class="progress mt-3" style="width: 75%;">
            <div class="progress-bar progress-bar-striped" id="progressBar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Test</div>
          </div>
        <h3 id="lottieLabel" style="color: #0067A4;">Menyimpan...</h3>
        </div>
      </div>
    </div>
</div>
  
<!--END MODAL LOADING-->

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
        const lottie = document.getElementById('lottie');
        const lottie2 = document.getElementById('lottie2');
        const lottie3 = document.getElementById('lottie3');
        const lottieLabel = document.getElementById('lottieLabel');
        const uploadBtn = document.getElementById('upload');
        const form = document.getElementById('uploadForm');
        const progressBar = document.getElementById('progressBar');

        const uploadMovie = () => {
            let form = document.getElementById("uploadForm");
            let formData = new FormData(form);
            formData.append('csrfmiddlewaretoken', csrf);

            let xhr = new XMLHttpRequest();
            xhr.open("POST", form.action, true);

            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

            // Track upload progress
            xhr.upload.addEventListener("progress", function (event) {
                if (event.lengthComputable) {
                    let percentComplete = Math.round((event.loaded / event.total) * 100);
                    progressBar.style.width = percentComplete + "%";
                    progressBar.innerHTML = percentComplete + "%";
                }
            });
        
            // Before sending the request
            xhr.onloadstart = function () {
                loadingModal.show();
                lottie.classList.remove("d-none");
                lottie2.classList.add("d-none");
                lottie3.classList.add("d-none");
                lottieLabel.innerHTML = "Menyimpan...";
            };
        
            // When upload is complete
            xhr.onload = function () {
                lottie.classList.add("d-none");
                if (xhr.status === 200) {
                    let res = JSON.parse(xhr.responseText);
                    if (res.result === "success") {
                        lottie2.classList.remove("d-none");
                        lottieLabel.innerHTML = "Berhasil";
                    } else {
                        lottie3.classList.remove("d-none");
                        lottieLabel.innerHTML = res.error;
                    }
                } else {
                    lottie3.classList.remove("d-none");
                    lottieLabel.innerHTML = res.error;
                }
            };
        
            // Handle errors
            xhr.onerror = function () {
                lottie.classList.add("d-none");
                lottie3.classList.remove("d-none");
                lottieLabel.innerHTML = res.error;
            };
        
            xhr.send(formData);
        };

        uploadBtn.addEventListener('click', function() {
            event.preventDefault();
            if (form.checkValidity()) {
                uploadMovie();
            }else{
                alert('Form tidak valid');
            }
        });
    });
</script>
{% endblock extra_js %}